{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/preset-stage-2",
    "@babel/preset-react"
  ],
  "plugins": ["react-loadable/babel", "@babel/plugin-proposal-decorators"],
  "env": {
    "development": {
      "presets": ["@babel/preset-env"],
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
